   @font-face {
            font-family: Montserrat-ExtraLight;
            src: url('../font/Montserrat-ExtraLight.woff')
        }

        @font-face {
            font-family: Montserrat-Light;
            src: url('../font/Montserrat-Light.woff');
        }

        @font-face {
            font-family: Montserrat-Regular;
            src: url('../font/Montserrat-Regular.woff');
        }

        @font-face {
            font-family: Raleway-Bold;
            src: url('../font/Raleway-Bold.woff');
        }

        @font-face {
            font-family: Raleway-ExtraBold;
            src: url('../font/Raleway-ExtraBold.woff');
        }

        @font-face {
            font-family: Raleway-Medium;
            src: url('../font/Raleway-Medium.woff');
        }

        @font-face {
            font-family: Raleway-Regular;
            src: url('../font/Raleway-Regular.woff');
        }

        @font-face {
            font-family: Raleway-SemiBold;
            src: url('../font/Raleway-SemiBold.woff');
        }

        @font-face {
            font-family: Roboto-Regular;
            scr: url('../font/Roboto-Regular.woff');
        }